*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.bg{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../gitulah/static/img/bg2.jpg);
    background-position: center;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
}

.container {
    overflow-y: scroll;
    width: 60%;
    height: 80%;
    margin: 0 auto;
    background-color: transparent;
    padding: 20px;
    border: 1px solid #2691d9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h1 {
    align-items: center;
    text-align: center;
    color: #2691d9;
}

h2{
    color: #2691d9;
}

p{
    color: #2691d9;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.message {
    cursor: pointer;
}

.message-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
}

.checkmark-sender{
    display: inline-block;
}

.message-header input [type="checbox"]{
    margin-right: 5px;
}

.message-sender{
    margin-left: -5px;
    margin-top: -20px;
}

.message-sender::before {
    margin: 0;
    font-size: 1.2rem;
}

.message-date::before {
    margin: 0;
    font-size: 0.8rem;
    color: #888;
}

.message-subject::after {
    margin: 0;
    font-size: 1.1rem;
}

.message-content {
    word-wrap: break-word;
    margin: 0;
    font-size: 1rem;
}

.back{
    background-color: transparent;
    bottom: -60px;
    left: -10px;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.back img{
    height: 16px;
    width : 16px;
    margin-right: 5px;
}

/* Popup container */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
  
  /* Popup content */
.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
  
  /* Close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Gaya scrollbar di WebKit (Chrome, Safari) */
.container::-webkit-scrollbar {
    width: 10px;
}
  
.container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
  
.container::-webkit-scrollbar-thumb {
    background-color: #009688;
}
  
.container::-webkit-scrollbar-thumb:hover {
    background-color: #00796b;
}

button{
    width: 100px;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
}


.message-checkbox {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    right: 30px;
    top: 5px;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.checkmark::after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 9px;
    border: solid #009688;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}*/


.message-checkbox:checked + .checkmark::after {
    display: block;
}

@media screen and (max-width: 768px) {
    /* Gambar Tombol Kembali */
    .back img {
      height: 14px;
      width: 14px;
      margin-right: 3px;
    }

    .container {
        width: 90%;
        height: 70%;
        max-height: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* Judul */
  h1 {
    font-size: 20px;
  }

  /* Pengirim */
  .message-sender {
    font-size: 16px;
  }

  /* Tanggal */
  .message-date {
    font-size: 12px;
  }

  /* Subjek */
  .message-subject {
    font-size: 14px;
  }

  /* Isi Pesan */
  .message-content {
    font-size: 12px;
  }

  .loginbtn{
    margin: 30px 10px;
    }
}